torch==2.4.1
torchvision==0.19.1
transformers==4.44.2
Pillow==9.5.0
ftfy
tensorboard
datasets
opencv-python
imgaug
accelerate==0.20.3
image-reward
hpsv2
torchmetrics
open-clip-torch
clip
segment_anything
git+https://github.com/luca-medeiros/lang-segment-anything.git
git+https://github.com/TencentARC/BrushNet.git